# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual studio files
*.filters
*.user
*.sdf
*.opensdf

# Xcode
*.pbxuser
*.xcuserdata
*.xcworkspace
.DS_Store

Bin/
Obj/
ipch/